{ns fhir-org-nz-ig-base.additional-authorisation,
 import #{hl7-fhir-r4-core.Period
          zen.fhir
          hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Additional authorisations that a practitioner is authorised to perform",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/additional-authorisation",
         :zen.fhir/version "0.6.32",
         :type zen/map,
         :keys {:code {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
                :period {:confirms #{hl7-fhir-r4-core.Period/schema}}}}}
