{ns fhir-org-nz-ig-base.contactpoint-purpose,
 import #{zen.fhir hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "A specific purpose for which this ContactPoint dataType would be used. An example would be to indicate that this ContactPoint is used for video conferencing.",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/contactpoint-purpose",
         :zen.fhir/version "0.16.13-2",
         :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}}
