{ns fhir-org-nz-ig-base.dhb,
 import #{zen.fhir
          fhir-org-nz-ig-base.value-set.dhb
          hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "NZ District Health Boards",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/dhb",
         :zen.fhir/version "0.6.22",
         :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
         :zen.fhir/value-set {:symbol fhir-org-nz-ig-base.value-set.dhb/value-set,
                              :strength :extensible}}}
