{ns fhir-org-nz-ig-base.domicile-code,
 import #{zen.fhir hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "NZ Domicile Code. Derived from a patient's primary physical, home address.",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/domicile-code",
         :zen.fhir/version "0.6.30-14",
         :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}}
