{ns fhir-org-nz-ig-base.edi-address,
 import #{zen.fhir hl7-fhir-r4-core.string},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Represents an Electronic Data Interchange (EDI) address. It is intended as an extension on ContactPoint.system, with the system value being 'other'. The value of the extension is the EDI supplier, the actual EDI address is the value element. Note that a new extension 'messaging address' is preferred.",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/edi-address",
         :zen.fhir/version "0.6.30-10",
         :confirms #{hl7-fhir-r4-core.string/schema}}}
