{ns fhir-org-nz-ig-base.educational-qualification,
 import #{zen.fhir hl7-fhir-r4-core.string hl7-fhir-r4-core.date},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Educational qualifications a practitioner has. These may or may not be related to registration information.",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/educational-qualification",
         :zen.fhir/version "0.6.27",
         :type zen/map,
         :keys {:fullname {:confirms #{hl7-fhir-r4-core.string/schema},
                           :zen/desc "The full name of the educational qualification"},
                :shortname {:confirms #{hl7-fhir-r4-core.string/schema},
                            :zen/desc "A short name of the educational qualification for when space is limited"},
                :year {:confirms #{hl7-fhir-r4-core.date/schema},
                       :zen/desc "The year in which the qualification was granted"},
                :institution {:confirms #{hl7-fhir-r4-core.string/schema},
                              :zen/desc "The institution that granted the qualification"},
                :city {:confirms #{hl7-fhir-r4-core.string/schema},
                       :zen/desc "The city where the institution is located"},
                :country {:confirms #{hl7-fhir-r4-core.string/schema},
                          :zen/desc "The country where the institution is located"}}}}
