{ns fhir-org-nz-ig-base.established,
 import #{hl7-fhir-r4-core.Period zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "The period over which the location or Organization is open",
         :zen.fhir/type "Period",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/established",
         :zen.fhir/version "0.6.30-11",
         :confirms #{hl7-fhir-r4-core.Period/schema}}}
