{ns fhir-org-nz-ig-base.funded-programme,
 import #{zen.fhir
          hl7-fhir-r4-core.boolean
          hl7-fhir-r4-core.string
          hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Funded NZ Healthcare Programmes",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/funded-programme",
         :zen.fhir/version "0.6.7-3",
         :type zen/map,
         :keys {:fundedProgramme {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
                :currentAvailability {:confirms #{hl7-fhir-r4-core.boolean/schema}},
                :notes {:confirms #{hl7-fhir-r4-core.string/schema}}}}}
