{ns fhir-org-nz-ig-base.information-source,
 import #{zen.fhir hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "The official source of information held about a patient.",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/information-source",
         :zen.fhir/version "0.6.17",
         :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}}
