{ns fhir-org-nz-ig-base.long-term-condition,
 import #{zen.fhir hl7-fhir-r4-core.boolean},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Long Term Condition",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/long-term-condition",
         :zen.fhir/version "0.6.23-1",
         :confirms #{hl7-fhir-r4-core.boolean/schema}}}
