{ns fhir-org-nz-ig-base.messaging-address,
 import #{zen.fhir hl7-fhir-r4-core.string},
 schema {:zen.fhir/version "0.6.17",
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/messaging-address",
         :require #{:value :provider},
         :type zen/map,
         :zen/desc "The address to where electronic communications might be sent. For historical reasons, there is an overlap with edi-address.",
         :keys {:provider {:confirms #{hl7-fhir-r4-core.string/schema}},
                :value {:confirms #{hl7-fhir-r4-core.string/schema}}}}}
