{ns fhir-org-nz-ig-base.nz-citizenship,
 import #{zen.fhir hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "New Zealand citizenship",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/nz-citizenship",
         :zen.fhir/version "0.6.30",
         :type zen/map,
         :keys {:status {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
                :source {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}}}}
