{ns fhir-org-nz-ig-base.nz-iwi,
 import #{zen.fhir hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Persons Iwi affiliation",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/nz-iwi",
         :zen.fhir/version "0.6.18-1",
         :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}}
