{ns fhir-org-nz-ig-base.NzCoverage,
 import #{fhir-org-nz-ig-base.value-set.coverage-category
          zen.fhir
          hl7-fhir-r4-core.Coverage
          fhir-org-nz-ig-base.value-set.coverage-type},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "Coverage resource for use in NZ (Trial use)",
         :zen.fhir/type "Coverage",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/NzCoverage",
         :zen.fhir/version "0.6.22-1",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4-core.Coverage/schema},
         :type zen/map,
         :keys {:type {:zen.fhir/value-set {:symbol fhir-org-nz-ig-base.value-set.coverage-type/value-set,
                                            :strength :extensible}},
                :class {:type zen/vector,
                        :every {:type zen/map,
                                :keys {:type {:zen.fhir/value-set {:symbol fhir-org-nz-ig-base.value-set.coverage-category/value-set,
                                                                   :strength :extensible}}}}}}}}
