{ns fhir-org-nz-ig-base.nzeps-unusual-dose-quantity,
 import #{zen.fhir hl7-fhir-r4-core.boolean},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "NZePS Unusual Dose Quantity Indicator",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/nzeps-unusual-dose-quantity",
         :zen.fhir/version "0.6.7-2",
         :confirms #{hl7-fhir-r4-core.boolean/schema}}}
