{ns fhir-org-nz-ig-base.nzeps-long-term-medication,
 import #{zen.fhir hl7-fhir-r4-core.boolean},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "NZePS Long Term Medication",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/nzeps-long-term-medication",
         :zen.fhir/version "0.6.9",
         :confirms #{hl7-fhir-r4-core.boolean/schema}}}
