{ns fhir-org-nz-ig-base.NzMedicationStatement,
 import #{zen.fhir
          fhir-org-nz-ig-base.nzeps-long-term-medication
          hl7-fhir-r4-core.MedicationStatement},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "MedicationStatement resource for use in NZ",
         :zen.fhir/type "MedicationStatement",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/NzMedicationStatement",
         :zen.fhir/version "0.6.22",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4-core.MedicationStatement/schema},
         :type zen/map,
         :keys {:nzeps-long-term-medication {:confirms #{fhir-org-nz-ig-base.nzeps-long-term-medication/schema},
                                             :fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/nzeps-long-term-medication"}}}}
