{ns fhir-org-nz-ig-base.pho,
 import
 #{zen.fhir
   fhir-org-nz-ig-base.value-set.pho
   hl7-fhir-r4-core.CodeableConcept},
 schema
 {:zen/tags #{zen/schema zen.fhir/structure-schema},
  :zen/desc "NZ Primary Healthcare Organisations",
  :zen.fhir/type "CodeableConcept",
  :zen.fhir/profileUri
  "http://hl7.org.nz/fhir/StructureDefinition/pho",
  :zen.fhir/version "0.6.2",
  :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
  :zen.fhir/value-set
  {:symbol fhir-org-nz-ig-base.value-set.pho/value-set,
   :strength :extensible}}}