{ns fhir-org-nz-ig-base.practitionerRole-creator,
 import
 #{zen.fhir
   hl7-fhir-r4-core.Reference
   hl7-fhir-r4-core.Practitioner
   hl7-fhir-r4-core.Organization},
 schema
 {:zen.fhir/version "0.6.5",
  :zen/tags #{zen/schema zen.fhir/structure-schema},
  :zen.fhir/profileUri
  "http://hl7.org.nz/fhir/StructureDefinition/practitionerRole-creator",
  :require #{:person},
  :type zen/map,
  :zen/desc "The organisation and person that created this role",
  :keys
  {:person
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :zen.fhir/reference
    {:refers #{hl7-fhir-r4-core.Practitioner/schema}}},
   :organization
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :zen.fhir/reference
    {:refers #{hl7-fhir-r4-core.Organization/schema}}}}}}