{ns fhir-org-nz-ig-base.practitionerRole-status-reason,
 import #{zen.fhir hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "The reason for the status. Generally only used for inactive resources.",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/practitionerRole-status-reason",
         :zen.fhir/version "0.6.23-1",
         :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}}
