{ns fhir-org-nz-ig-base.registration-initial-date,
 import #{zen.fhir hl7-fhir-r4-core.date},
 schema
 {:zen/tags #{zen/schema zen.fhir/structure-schema},
  :zen/desc
  "The date the practitioner first became registered with the Responsible Authority or professional body",
  :zen.fhir/type "date",
  :zen.fhir/profileUri
  "http://hl7.org.nz/fhir/StructureDefinition/registration-initial-date",
  :zen.fhir/version "0.6.3",
  :confirms #{hl7-fhir-r4-core.date/schema}}}