{ns fhir-org-nz-ig-base.sex-at-birth,
 import #{zen.fhir hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "A person’s sex at the time of their birth (considered to be immutable).",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/sex-at-birth",
         :zen.fhir/version "0.6.27",
         :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}}
