{ns fhir-org-nz-ig-base.suburb,
 import #{zen.fhir hl7-fhir-r4-core.string},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "NZSuburb",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/suburb",
         :zen.fhir/version "0.6.21-2",
         :confirms #{hl7-fhir-r4-core.string/schema}}}
