{ns fhir-org-nz-ig-base.value-set.citizenship-status,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Citizenship status",
            :zen.fhir/version "0.6.8",
            :fhir/code-systems #{{:fhir/url "https://standards.digital.health.nz/ns/nz-citizenship-status-code",
                                  :zen.fhir/content :bundled}},
            :uri "https://nzhts.digital.health.nz/fhir/ValueSet/nz-citizenship-status-code",
            :version "1.1.0",
            :ftr {:module "ig",
                  :source-urls ["node_modules/fhir.org.nz.ig.base"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
