{ns fhir-org-nz-ig-base.value-set.coverage-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "New Zealand codes for Coverage Types",
            :zen.fhir/version "0.6.12-1",
            :fhir/code-systems #{{:fhir/url "https://standards.digital.health.nz/ns/coverage-type-code",
                                  :zen.fhir/content :bundled}},
            :uri "https://nzhts.digital.health.nz/fhir/ValueSet/coverage-type-code",
            :version "1.0.0",
            :ftr {:module "ig",
                  :source-urls ["node_modules/fhir.org.nz.ig.base"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
