{ns fhir-org-nz-ig-base.value-set.dhb,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "District Health Board Identifer. Assigned by the HPI.",
            :zen.fhir/version "0.6.24",
            :fhir/code-systems #{{:fhir/url "https://standards.digital.health.nz/ns/dhb-code",
                                  :zen.fhir/content :bundled}},
            :uri "https://nzhts.digital.health.nz/fhir/ValueSet/dhb-code",
            :version "1.0.0",
            :ftr {:module "fhir-org-nz-ig-base",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
