{ns fhir-org-nz-ig-base.value-set.ethnicity,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes to record a person's ethnicity, drawn from [Level 4 of the Ethnicity code system](http://aria.stats.govt.nz/aria/#ClassificationView:uri=http://stats.govt.nz/cms/ClassificationVersion/YVqOcFHSlguKkT17)",
            :zen.fhir/version "0.6.29-22",
            :fhir/code-systems #{{:fhir/url "https://standards.digital.health.nz/ns/ethnic-group-level-4-code",
                                  :zen.fhir/content :bundled}},
            :uri "https://nzhts.digital.health.nz/fhir/ValueSet/ethnic-group-level-4-code",
            :version "2.1.0",
            :ftr {:module "fhir-org-nz-ig-base",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
