{ns fhir-org-nz-ig-base.value-set.iwi,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "New Zealand iwi codes.  The 2 digit codes are abstract codes and provided in the expansion for navigational purposes. A user should not select an abstract code directly as a proper value.",
            :zen.fhir/version "0.6.28",
            :fhir/code-systems #{{:fhir/url "https://standards.digital.health.nz/ns/iwi-code",
                                  :zen.fhir/content :bundled}},
            :uri "https://nzhts.digital.health.nz/fhir/ValueSet/iwi-code",
            :version "2.0.0",
            :ftr {:module "fhir-org-nz-ig-base",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
