{ns fhir-org-nz-ig-base.value-set.nhi-use,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "NHI Use codes",
            :zen.fhir/version "0.6.24",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/identifier-use",
                                  :zen.fhir/content :bundled}},
            :uri "https://nzhts.digital.health.nz/fhir/ValueSet/nhi-use-code",
            :version "2.0.0",
            :ftr {:module "fhir-org-nz-ig-base",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
