{ns fhir-org-nz-ig-base.value-set.nz-residency,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "Is the person a NZ resident",
  :zen.fhir/version "0.6.6-7",
  :fhir/code-systems
  #{{:fhir/url
     "https://standards.digital.health.nz/ns/nz-residency-code",
     :zen.fhir/content :bundled}},
  :uri
  "https://nzhts.digital.health.nz/fhir/ValueSet/nz-residency-code",
  :version "1.1.0",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/fhir.org.nz.ig.base"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}