{ns fhir-org-nz-ig-base.value-set.practitioner-registration-status-code,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The code list represents the current practicing status of the Provider Person as per their registration with an RA.",
            :zen.fhir/version "0.6.6-8",
            :fhir/code-systems #{{:fhir/url "https://standards.digital.health.nz/ns/practitioner-registration-status-code",
                                  :zen.fhir/content :bundled}},
            :uri "https://nzhts.digital.health.nz/fhir/ValueSet/practitioner-registration-status-code",
            :version "2.0",
            :ftr {:module "ig",
                  :source-urls ["node_modules/fhir.org.nz.ig.base"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
