{ns fhir-org-nz-ig-base.value-set.practitioner-scope-of-practice,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "A coded type for professional scope of practice.",
            :zen.fhir/version "0.6.15",
            :fhir/code-systems #{{:fhir/url "https://standards.digital.health.nz/ns/practitioner-scope-of-practice-code",
                                  :zen.fhir/content :bundled}},
            :uri "https://nzhts.digital.health.nz/fhir/ValueSet/practitioner-scope-of-practice-code",
            :version "1.0.0",
            :ftr {:module "ig",
                  :source-urls ["node_modules/fhir.org.nz.ig.base"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
