{ns fhir-org-nz-ig-base.value-set.practitioner-registration-status-code,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The code list represents the current practicing status of the Provider Person as per their registration with an RA.",
            :zen.fhir/version "0.6.30-14",
            :fhir/code-systems #{{:fhir/url "https://standards.digital.health.nz/ns/practitioner-registration-status-code",
                                  :zen.fhir/content :bundled}},
            :uri "https://nzhts.digital.health.nz/fhir/ValueSet/practitioner-registration-status-code",
            :version "2.0",
            :ftr {:module "fhir-org-nz-ig-base",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
