{ns
 fhir-org-nz-ig-base.value-set.practitioner-additional-authorisation-code,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "A coded type for additional authorisations",
  :zen.fhir/version "0.6.1",
  :fhir/code-systems
  #{{:fhir/url
     "https://standards.digital.health.nz/ns/practitioner-additional-authorisation-code",
     :zen.fhir/content :bundled}},
  :uri
  "https://nzhts.digital.health.nz/fhir/ValueSet/practitioner-additional-authorisation-code",
  :version "1.0.0",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/fhir.org.nz.ig.base"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}